<h3>Author Profile</h3>
<div style="display: flex;">
    <div>Name : </div>
    <div><%= author.name %></div>
</div>
<div style="display: flex;">
    <div style="padding-right: 10px;"><a href="<%= `/authors/${author.id}/edit`%>">Edit</a></div>
    <%- include('../partials/deleteForm', {url: `/authors/${author.id}?_method=DELETE`}) %>
</div>
<div style="margin-top: 30px;">Books By Author</div>
<div style="display: flex;">
    <% books.forEach((book) => { %>
        <div>
            <img height="200" width="150" src="<%= book.cover %>" alt="<%= book.title %>">
        </div>
    <% })%>
</div>